/*	--------------------------------------------------
	Reveal Modals
	-------------------------------------------------- */
		
	.reveal-modal-bg {
		position: fixed;
		height: 100%;
		width: 100%;
		background: #000;
		background: rgba(0, 0, 0, 0.6);
		z-index: 100;
		display: none;
		top: 0;
		left: 0;
		}
	

.reveal-modal-add-item .col {
    float: left;
    width: 50%;
}
.reveal-modal-add-item .col .btn {
    height: 45px;
    line-height: 45px;
}
.ico-plane {
    background: url(images/ico-plane.png);
    width: 25px;
    height: 24px;
    display: inline-block;
    margin: 0px 8px 0 0;
    vertical-align: middle;
}
.btn {
    background: #35c67b;
    height: 65px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    line-height: 65px;
    padding: 0 15px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.reveal-modal-add-item .col .text {
    max-width: 320px;
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
}

.reveal-modal-add-item .col .text .desc {
    color: #c9c9c9;
    font-size: 11px;
    max-width: 220px;
    margin: 25px auto 7px;
}
.ico-steam {
    background: url(images/ico-steam.png);
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.ico-web {
    background: url(images/ico-web.png);
    width: 23px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.reveal-modal-add-item .heading {
    font-size: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid #2e3438;
    text-align: center;
    padding-bottom: 7px;
    margin-bottom: 25px;
    color: #fff;
}

	.reveal-modal-add-item {
		visibility: hidden;
		top: 100px;
		left: 50%;
		margin-left: -400px;
		width: 720px;
		font-size: 13px;
		background: rgba(9, 14, 24, 0.9);
		position: absolute;
		z-index: 101;
		color: #9295a3;
		padding: 30px 40px 34px;
		-moz-border-radius: 5px;
		/* -webkit-border-radius: 5px; */
		/* border-radius: 5px; */
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		/* -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4); */
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		border: 1px solid rgba(255, 255, 255, 0.12);
		max-width: 750px;
		}

	.reveal-modal {
		visibility: hidden;
		top: 100px;
		left: 50%;
		margin-left: -400px;
		width: 720px;
		font-size: 13px;
		background: rgba(9, 14, 24, 0.9);
		position: absolute;
		z-index: 101;
		color: #9295a3;
		padding: 30px 40px 34px;
		-moz-border-radius: 5px;
		/* -webkit-border-radius: 5px; */
		/* border-radius: 5px; */
		-moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
		/* -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4); */
		-box-shadow: 0 0 10px rgba(0,0,0,.4);
		border: 1px solid rgba(255, 255, 255, 0.12);
		max-width: 750px;
		}

.reveal-modal p {
		border-left: 2px solid rgba(255, 255, 255, 0.05);
		padding-left: 5;
		}
		.reveal-modal-add-item p {
		border-left: 2px solid rgba(255, 255, 255, 0.05);
		padding-left: 5;
		}
		    
		
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	
	.reveal-modal .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 13px;
		right: 13px;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 
	
	.reveal-modal-add-item .close-reveal-modal {
		font-size: 22px;
		line-height: .5;
		position: absolute;
		top: 13px;
		right: 13px;
		text-shadow: 0 -1px 1px rbga(0,0,0,.6);
		font-weight: bold;
		cursor: pointer;
		} 
	
	.reveal-modal h1 {
	    color: #FFC700;
	    font-size: 20px;
	    font-family: Open Sans;
	    color: #ed773b;
	    padding-bottom: 10px;
	    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
	}

	/*
		
	NOTES
	
	Close button entity is &#215;
	
	Example markup
	
	<div id="myModal" class="reveal-modal">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Your couch.  I it's mine.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	
	*/
